* {
    margin: 0;
    padding: 0;
}

:root {
    --box-shadow: 0px 0px 4px 1px #d4e1fa;
    --border-color: #d4e1fa;
}

:focus {
    outline: none;
}

body{
    background: #EFF1F5;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
}

.wrap {
    width: 900px;
    background: #FFF;
    margin: 0 auto;
    padding: 10px;
}

header {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 42px;
    margin-bottom: 10px;
}

header a {
    text-decoration: none;
    font-weight: 700;
    margin-top: 12px;
    color: inherit;
}

.app {
    width: 500px;
    margin: 0 auto;
}

.app-title {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
}

ul {
    list-style-type: none;
    /* border: 1px solid #EFF1F5; */
    border-bottom: none;
}

ul li {
    box-shadow: var(--box-shadow);
    padding: 8px 10px;
    margin-bottom: 15px;
    border-radius: 1px;
}

button {
    border: none;
    color: #FFF;
    border-radius: 2px;
    font-size: 12px;
    padding: 3px 4px;
    background: #3981F2;
    border: 1px solid #2172F0;
    cursor: pointer;
}

.btn-delete {
    background: linear-gradient(#f16c7c, #f15e64);
    border: 1px solid #f15e64;
    float: right;
    margin-top: -3px;
    margin-right: -5px;
}




